:root {
  --boxShadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2),
    0 10px 20px -2px rgba(0, 0, 0, 0.2);
  --textColor: rgb(109, 108, 108);
  --paragraphOpacity: 75%;
  --container: 45%;
}

body {
  background: #f3f0f0;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
}

#todoListForm,
.TodoListContainer {
  min-width: var(--container);
}

.body-container {
  width: 100%;
}

.full-width {
  width: 100% !important;
}
