:root {
  --boxShadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2),
    0 10px 20px -2px rgba(0, 0, 0, 0.2);
  --textColor: rgb(109, 108, 108);
  --paragraphOpacity: 75%;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#todoListForm,
.TodoListContainer {
  min-width: 80%;
}

.full-width {
  width: 100% !important;
}

.section-seperator {
  width: 80%;
  height: 1px;
  opacity: var(--paragraphOpacity);
  background-color: var(--textColor);
  margin: 3rem auto;
  position: relative;
}
